<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>分类｜Jollly's Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../static/css/design.css" th:href="@{/static/css/design.css}">
</head>

<body>

  <!--header-->
  <div class="ui borderless main menu">
    <div class="ui container">
      <h2 class="ui header item">
        Jolllly's Blog
      </h2>
      <a href="#" class="item"><i class="home icon"></i>首页</a>
      <a href="#" class="active item"><i class="list icon"></i>分类</a>
      <a href="#" class="item"><i class="archive icon"></i>归档</a>
      <a href="#" class="item"><i class="info icon"></i>关于我</a>
    </div>
  </div>

  <!--body-->
  
  <div class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <!--分类-->
      <div class="ui top attached tabular menu">
        <a class="yellow header item active">学习笔记</a>
        <a class="red header item">踩坑经历</a>
        <a class="blue header item">心得体会</a>
        <div class="right menu">
          <div class="item">
            <div class="ui transparent icon input">
              <input type="text" placeholder="搜索内容...">
              <i class="search link icon"></i>
            </div>
          </div>
        </div>
      </div>
      <!--标签-->
      <div class="ui attached segment">
        <div class="ui middle aligned two column grid">
          <div class="column">

            <h4 class="ui header">标签</h4>
          </div>
          <div class="right aligned column">
            共 <h3 class="ui grey header m-inline-block m-text-thin"> 4 </h3> 个
          </div>
        </div>
      </div>

      <div class="ui attached segment">
        <div class="ui tag lables">
          <a href="#" class="ui active tag label">daily<div class="detail">10</div></a>
          <a href="#" class="ui tag label">C/C++<div class="detail">10</div></a>
          <a href="#" class="ui tag label">Java<div class="detail">10</div></a>
          <a href="#" class="ui tag label">Verilog<div class="detail">10</div></a>
        </div>
      </div>

      <div class="ui top attached segment">
        <!--article-->
        <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <a href="#" class="ui header">作业写不完怎么办？</a>
              <p class="m-text">作业写不完是怎么回事呢？小编也很疑惑，但是这确确实实发生了，就让小编带大家看看为什么作业会写不完吧……</p>
              <div class="ui stackable grid">
                <div class="eleven wide column">
                  <div class="ui mini horizontal link list">
                    <div class="item">
                      <i class="calendar icon"></i> 2021-10-28
                    </div>
                    <div class="item">
                      <i class="eye icon"></i> 123
                    </div>
                  </div>
                </div>
                <div class="right aligned five wide column">
                  <a href="#" target="_blank" class="ui tag label">daily</a>
                </div>
              </div>
            </div>

            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://www.nbfox.com/wp-content/uploads/2020/03/11/20200311200816-5e694530f1fff.jpg" alt=""
                  class="ui rounded image">
              </a>
            </div>

          </div>
        </div>
        <!--article-->
        <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <a href="#" class="ui header">作业写不完怎么办？</a>
              <p class="m-text">作业写不完是怎么回事呢？小编也很疑惑，但是这确确实实发生了，就让小编带大家看看为什么作业会写不完吧……</p>
              <div class="ui stackable grid">
                <div class="eleven wide column">
                  <div class="ui mini horizontal link list">
                    <div class="item">
                      <i class="calendar icon"></i> 2021-10-28
                    </div>
                    <div class="item">
                      <i class="eye icon"></i> 123
                    </div>
                  </div>
                </div>
                <div class="right aligned five wide column">
                  <a href="#" target="_blank" class="ui tag label">daily</a>
                </div>
              </div>
            </div>

            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://www.nbfox.com/wp-content/uploads/2020/03/11/20200311200816-5e694530f1fff.jpg" alt=""
                  class="ui rounded image">
              </a>
            </div>

          </div>
        </div>
        <!--article-->
        <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header">作业写不完怎么办？</h3>
              <p class="m-text">作业写不完是怎么回事呢？小编也很疑惑，但是这确确实实发生了，就让小编带大家看看为什么作业会写不完吧……</p>
              <div class="ui stackable grid">
                <div class="eleven wide column">
                  <div class="ui mini horizontal link list">
                    <div class="item">
                      <i class="calendar icon"></i> 2021-10-28
                    </div>
                    <div class="item">
                      <i class="eye icon"></i> 123
                    </div>
                  </div>
                </div>
                <div class="right aligned five wide column">
                  <a href="#" target="_blank" class="ui tag label">daily</a>
                </div>
              </div>
            </div>

            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://www.nbfox.com/wp-content/uploads/2020/03/11/20200311200816-5e694530f1fff.jpg" alt=""
                  class="ui rounded image">
              </a>
            </div>

          </div>
        </div>
        <!--article-->
        <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header">作业写不完怎么办？</h3>
              <p class="m-text">作业写不完是怎么回事呢？小编也很疑惑，但是这确确实实发生了，就让小编带大家看看为什么作业会写不完吧……</p>
              <div class="ui stackable grid">
                <div class="eleven wide column">
                  <div class="ui mini horizontal link list">
                    <div class="item">
                      <i class="calendar icon"></i> 2021-10-28
                    </div>
                    <div class="item">
                      <i class="eye icon"></i> 123
                    </div>
                  </div>
                </div>
                <div class="right aligned five wide column">
                  <a href="#" target="_blank" class="ui tag label">daily</a>
                </div>
              </div>
            </div>

            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://www.nbfox.com/wp-content/uploads/2020/03/11/20200311200816-5e694530f1fff.jpg" alt=""
                  class="ui rounded image">
              </a>
            </div>

          </div>
        </div>

        <!--article-->
        <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header">作业写不完怎么办？</h3>
              <p class="m-text">作业写不完是怎么回事呢？小编也很疑惑，但是这确确实实发生了，就让小编带大家看看为什么作业会写不完吧……</p>
              <div class="ui stackable grid">
                <div class="eleven wide column">
                  <div class="ui mini horizontal link list">
                    <div class="item">
                      <i class="calendar icon"></i> 2021-10-28
                    </div>
                    <div class="item">
                      <i class="eye icon"></i> 123
                    </div>
                  </div>
                </div>
                <div class="right aligned five wide column">
                  <a href="#" target="_blank" class="ui tag label">daily</a>
                </div>
              </div>
            </div>

            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://www.nbfox.com/wp-content/uploads/2020/03/11/20200311200816-5e694530f1fff.jpg" alt=""
                  class="ui rounded image">
              </a>
            </div>

          </div>
        </div>
      </div>

      <!---->
      <div class="ui bottom attached segment">
        <div class="ui three column grid">
          <div class="column">
            <div class="ui animated small button" tabindex="0">
              <div class="hidden content">
                  <i class="left arrow icon"></i>
              </div>
              <div class="visible content">上一页</div>
            </div>
          </div>
          <div class="ui column">
            <div class="ui pagination menu">
              <a class="active item">
                1
              </a>
              <div class="disabled item">
                ...
              </div>
              <a class="item">
                10
              </a>
              <a class="item">
                11
              </a>
              <a class="item">
                12
              </a>
            </div>
          </div>
          <div class="right aligned column">
            <div class="ui animated small button" tabindex="0">
              <div class="visible content">下一页</div>
              <div class="hidden content">
                  <i class="right arrow icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

    <!--footer-->
    <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
          <div class="three wide column">
            <h4 class="ui inverted header">Group 1</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Link One</a>
              <a href="#" class="item">Link Two</a>
              <a href="#" class="item">Link Three</a>
              <a href="#" class="item">Link Four</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Group 2</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Link One</a>
              <a href="#" class="item">Link Two</a>
              <a href="#" class="item">Link Three</a>
              <a href="#" class="item">Link Four</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Group 3</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Link One</a>
              <a href="#" class="item">Link Two</a>
              <a href="#" class="item">Link Three</a>
              <a href="#" class="item">Link Four</a>
            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header">Footer Header</h4>
            <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
          </div>
        </div>
        <div class="ui inverted section divider"></div>
        <img src="assets/images/logo.png" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
          <a class="item" href="#">Site Map</a>
          <a class="item" href="#">Contact Us</a>
          <a class="item" href="#">Terms and Conditions</a>
          <a class="item" href="#">Privacy Policy</a>
        </div>
      </div>
    </div>

    <!--引入semantic UI-->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>

</html>